{% extends "base.html.twig" %}

{% block title %}Liste des ingrédients{% endblock %}

{% block titrePage %}Les ingrédients{% endblock %}

{% block body %}
    <div class="tp-detail-page">
    {% for ingredientPizza in pizza.IngredientsPizza() %}
        <div class="tp-detail-title">
            <a href="{{ path("app_pizza_detail", {"pizzaId": ingredient.id}) }}">
                <i class="fa fa-caret-square-o-right tp-link" aria-hidden="true"></i>
                <span>{{ ingredientPizza.ingredient.name }}</span>
            </a>
        </div>
    {% endfor %}
{% endblock %}