{% extends "base.html.twig" %}

{% block title %}Détail de la pizza{% endblock %}

{% block titrePage %}
    La pizza {% for pizzas in pizza%}<span>{{ pizza.nom }}</span>{% endfor %}
{% endblock %}

{% block body %}
    <div class="tp-detail-page">
        {% for ingredientPizza in pizza.IngredientsPizza() %}
            <div class="tp-detail-title">
                <p>Prix de fabrication</p>
            </div>
            <span>{{ ingredientPizza.ingredient.cout }}</span>
            <br/>
            <div class="tp-detail-title">
                <p>Ingrédients</p>
            </div>
            <span>{{ ingredientPizza.ingredient.name }}</span>
            {% endfor %}
    </div>
{% endblock %}